body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;

}
h1, li, a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
