<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Shifts App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'reservation' %}">Reserve</a></li>
            <li><a href="{% url 'signout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign UP</a></li>
            <li><a href="{% url 'signin' %}">Sign IN</a></li>
            {% endif %} 
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>