{% extends 'layout.html' %}

{% block content %}

    <h1>Sign Up</h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error |escape }}</p>
                {% endfor %}
            {% endfor %}
            {% if form.non_field_errors %}
                {% for error in non_field_errors %}
                    <p>{{ error |escape }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>

{% endblock %}